<div class="authentication-wrapper authentication-2 ui-bg-cover ui-bg-overlay-container px-4">
    <div class="authentication-inner py-5" style="max-width: 50% !important;">
        <div class="card text-center mb-3">
            <div class="d-flex justify-content-center align-items-center pb-2 mb-4 pt-2 mt-4">
                <div class="card-body">
                    <h4 class="card-title">Email was sent.</h4>
                    <p class="card-text">Password reset link was sent to your email. If you do not receive it please
                        check your SPAM folder.</p>
                    <a href="javascript:void(0)" class="btn btn-theme" routerLink="/sign-in">Login Page</a>
                </div>
            </div>
        </div>
    </div>
</div>